# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Perseptron/EquationSolver/
Perseptron/.vs/Perseptron/v16/.suo
Perseptron/.vs/Perseptron/v16/Browse.VC.db
Perseptron/Perseptron/Debug/vc142.idb
Perseptron/Perseptron/Debug/vc142.pdb
*.tlog
Perseptron/.vs/Perseptron/v16/Browse.VC.opendb
Perseptron/Perseptron/Debug/Perceptron.tlog/link.read.1.tlog
Perseptron/.vs/Perseptron/v16/.suo
*.db
*.opendb
Perseptron/.vs/Perseptron/v16/.suo
*.db
*.opendb
*.ipch
*.ipch
*.pdb
Perseptron/.vs/Perseptron/v16/.suo
Perseptron/.vs/Perseptron/v16/.suo
Perseptron/.vs/Perseptron/v16/.suo
Perseptron/.vs/Perseptron/v16/Browse.VC.db
*.db
*.opendb
*.ipch
*.ipch
*.ilk
*.tlog
Perseptron/Perseptron/Debug/Perseptron.vcxproj.FileListAbsolute.txt
